.search-container {
  display: flex;
  align-items: center;
  background: #d8d8d8;
  border-radius: 0.625rem;
  padding: 0.5rem;
  height: 2.25rem;
  width: 18.75rem;
}
.search-container form {
  display: flex;
  align-items: center;
}
.search-container input {
  text-decoration: none;
  background: none;
  border: none;
  font-weight: 400;
  color: #3c3c43;
  margin-left: 7px;
}

.search-container input::placeholder {
  opacity: 0.6;
}
input:focus {
  outline: none;
}

@media (max-width: 636px) {
  .search-container {
    width: 100%;
  }
}
